<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Employee | Dashboard</title>

</head>

<body style="margin: auto;">

    <div id="wrapper">
        <app-emp-sidebar></app-emp-sidebar>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">

                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

                    <ul class="nav navbar-top-links navbar-right">
                        <li><span class="m-r-sm text-muted welcome-message">Welcome
                    to E-Office Suite.</span></li>
                        <li>
                            <a routerLink="/logout" class="nav-link">
                                <i class="fa fa-sign-out"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</body>

</html>