<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Dashboard</title>

</head>

<body style="margin: auto;">

    <div id="wrapper">
        <app-emp-sidebar></app-emp-sidebar>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">

                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

                    <ul class="nav navbar-top-links navbar-right">
                        <li><span class="m-r-sm text-muted welcome-message">Welcome
                    to E-Office Suite.</span></li>
                        <li>
                            <a routerLink="/logout" class="nav-link">
                                <i class="fa fa-sign-out"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="ibox-content">
                <div>
                    <form class="form-horizontal" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Room Name</label>
                            <div class="col-sm-3">
                                <select name="trainingRoomId" id="" class="form-control" [(ngModel)]="train.trainingRoomId">
                                  <option *ngFor="let item of training" [ngValue]="item.trainingRoomId">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reason</label>
                            <div class="col-sm-3">
                                <textarea type="text" [(ngModel)]="train.reason" name="reason" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Requested Date</label>
                            <div class="col-sm-3">
                                <input type="date" [(ngModel)]="train.requestedDate" name="rDate" min="{{today}}" class="form-control">
                            </div>
                        </div>

                        <!-- <div class="form-group">
                            <label class="col-sm-2 control-label">Time</label>
                            <div class="col-sm-3">
                                <select name="" id="" class="form-control">
                                    <option>8 A.M. to 10 A.M.</option>
                                    <option>10:30 A.M. to 12:30 P.M.</option>
                                    <option>1 P.M. to 3 P.M.</option>
                                    <option>3:30 P.M. to 5:30 P.M.</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">Send Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            var today = new Date().toISOString().split('T')[0];
            document.getElementsByName("rDate")[0].setAttribute('min', today);
        });
    </script>
</body>

</html>