<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin | Dashboard</title>

</head>

<body style="margin: auto;">

    <div id="wrapper">
        <app-sidebar></app-sidebar>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <ul class="nav navbar-top-links navbar-right">
                        <li><span class="m-r-sm text-muted welcome-message">Welcome
                    to E-Office Suite.</span></li>
                        <li>
                            <a routerLink="/logout" class="nav-link">
                                <i class="fa fa-sign-out"></i> Log Out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="ibox-content">

                <div>
                    <form (ngSubmit)="f.form.valid && onSubmit(updateEmp)" name="form" #f="ngForm" class="form-horizontal" *ngFor="let updateEmp of updateEmps">
                        <input type="hidden" [(ngModel)]="updateEmp.empId" id="empId" name="empId">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee Name</label>
                            <div class="col-sm-3">
                                <input type="text" #empName="ngModel" [(ngModel)]="updateEmp.empName" id="empName" name="empName" class="form-control" placeholder="Employee Name" [ngClass]="{'is-invalid': f.submitted && empName.invalid }" required />
                                <div *ngIf="f.submitted && empName.invalid" class="invalid-feedback">
                                    <div *ngIf="empName?.errors.required">First Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee Last Name</label>
                            <div class="col-sm-3">
                                <input type="text" [(ngModel)]="updateEmp.empLastName" name="empLastName" class="form-control" placeholder="Employee Last Name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee Designation</label>
                            <div class="col-sm-3">
                                <input type="text" [(ngModel)]="updateEmp.empDesignation" name="empDesignation" class="form-control" placeholder="Employee Designation" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee Email</label>
                            <div class="col-sm-3">
                                <input type="email" [(ngModel)]="updateEmp.empEmailID" name="empEmailID" class="form-control" placeholder="Employee Email" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Employee JoiningDate</label>
                            <div class="col-sm-3">
                                <input type="date" value="{{updateEmp.joiningDate | date: 'yyyy-MM-dd'}}" class="form-control" disabled/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary">Update Employee</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>


</body>

</html>